nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  background-color: #1589c7;
  padding: 20px;
}
nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
body {
  font-family:'Courier New', Courier, monospace;
  padding: 20px;
  text-align: center;
  background-color: rgb(159, 159, 159);
}
main {
  margin-top: 20px;
}